

.btn-secondary {
  color: #fff !important; }

img {
  width: 100%; }

.logo {
  width: 100px; }

.navbar {
  /* opacity: 0.9; */
  text-transform: uppercase;
  border-top: 1px solid #ffffff8a;
  /* height: 100px */
}

/* --------------------- Subuscrip Email -------- */
.subscribe-mail{
  background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(255, 70, 0, 0.45)
    ),url(../img/du1.jpg) no-repeat center/ cover;
  /* background-size: cover; */
  padding-top: 160px;
  padding-bottom: 167px;
}

#mc_embed_signup form {text-align:center; padding:10px 0 10px 0;}
.mc-field-group { display: inline-block; } /* positions input field horizontally */
#mc_embed_signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup .clear {display: inline-block;} /* positions button horizontally in line with input */
#mc_embed_signup .button {font-size: 13px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #aaa; box-sizing:border-box; height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#777; cursor:pointer;}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
@media (max-width: 768px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 100%; margin:0; }
}
/* ---------------------End Sbuscrip Email -------- */
.social a {
  margin-right: 0.4rem; }

  #showcase ,.navbar2,#top-bar2{
  background: url(../img/worm-1707823.jpg);
  background-repeat: no-repeat;
  background-position: center ;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 100%;
  width: 100%; */
  }


#showcase {
  position: relative;
  min-height: 50px;
  color: #fff;
  padding-top: 13rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 40px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8); }

#services {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgb(204, 177, 98); }

#showcase-inner {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.68); }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
.navbar2{
    display: none;
  }
}

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }
/* -------------------------------------Nav Bar ------------------------------------ */
/* .global2 {
    display: none;

} */
#navbar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -130px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* .fixed-nav {
  position: fixed;
  top: 0;
  display: none;
  width:100%;
} */
  /* ----------------- list card---------------------------- */
  div#details-card{
    min-height: 0;
  }


  .card-wrapper {
    margin-bottom: 30px;
  }
  /* .card-image .card .card-img-wrapper {
    height: 100%;
  }
  .card-image .card .card-body {
  display: none;
} */
/* .card-image-title-description .card .card-img-wrapper {
  max-height: 160px;
}
.card-image-title-description .card {
  position: relative;
  min-height: 300px;
} */
/* .card-image-title-description .card .card-body {
  height: auto;
  position: relative;
  top: 0;
  margin-bottom: -70px;
} */
/* .card-image-title-description .card:hover .card-body {
  top: -70px;
} */
/* .card-image-title-description .card .card-body .card-title {
  margin-bottom: .75rem;
} */
.card {
  display: inline-block !important;
  position: relative;
  overflow: hidden;
  min-height: 450px;
  height: 100%;
}


#card-developer{
    display: inline-block !important;
    position: relative;
    overflow: hidden;
    min-height: 300px;
    height: 0;
}
.card:hover {
  box-shadow: 8px 12px 31px -10px #ab98ab;
}
.card-img-wrapper {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 80%;
  overflow: hidden;
  object-fit: cover;
}

#card-img-wrapper{
  object-fit: contain;
}

#card-body-register{
  position: relative;

    background-color: #000000d4;

}

.card-img-wrapper  {
  transition: 1.5s ease;
}
@media (max-width: 991px) {
  #card-body {
   height: 100% !important;
   position: unset;

 }
 .card-img-wrapper {
   height: auto !important;
 }
 .card{
   height: auto !important;
 }

  .card:hover .card-img-wrapper {
    transform: none;
  }
   #card-body .card-title {
    margin-bottom: auto !important;
  }
}


.card:hover .card-img-wrapper {
  transform: scale(2,2);
}


}
@media  (min-width:991px) {
  .card-body .card-title {
    margin-bottom: calc(50% + 20px);
    transition: 1.5s ease;
  }
}

.card:hover .card-body .card-title {
  margin-bottom: .75rem;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  background-color: #000000d4;
  transition: 1.5s ease;
}
.card-content {
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: 1.5s ease;
}
.card:hover .card-body {
  height: 90%;
}
.card:hover .card-content {
  bottom: 0;
}
#main-footer{
  background: black;
}
/* -------------------- slider show  ----------------------- */

.container.slider {
    /* margin-top: 100px; */
    margin-bottom: 100px
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators>li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-item img {
    width: 100%
}


/* ------------------------Logo crousal----------------------- */
.owl-thumbnail {
padding: 0.25rem;
/* background-color: #fff;
border: 1px solid #dee2e6;
border-radius: 0.25rem; */
max-width: 100%;
height: 120px;
object-fit: contain;
}
#owl-section{
  /* padding-top: 63px;
    padding-bottom: 60px;
    background: url(../img/dubai-uae.jpg) no-repeat center/ cover; */
}

.form-group label{
  color:white;
}
.modal-dialog .form-group label {
    color: black;
}
/* --------------------- Form ----------------------------- */


/*# sourceMappingURL=style.css.map */
