{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}



<div>
  <a href="#" class="glow float"  data-toggle="modal" data-target="#inquiryModal"  style="  text-decoration: none; left:14px;width: 100px; height: 100px; bottom: 300px;">

  <h4 class=" my-float ar"> {% trans "BOOK NOW" %} </h4>
  </a>
</div>

<div>
  <a href="https://wa.me/00971549979843" target="_blank"  class="float ar" id="menu-share" style ="background-color:#28c52f;">
  <i class="fa fa fa-whatsapp my-float" ></i>
  </a>


  <!-- <ul id="floating">
  <li>
    <a href="https://www.facebook.com/EleganceRealState/" style ="background-color:#3B5998;" >
  <i class="fa fa-facebook my-float"></i>
  </a>
</li>
  <li>
    <a href="https://www.instagram.com/invites/contact/?i=3llzwnslut12&utm_content=bhxcv33" style =" background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);">
  <i class="fa fa-instagram my-float"></i>
  </a>
</li>
</ul> -->
</div>

  <!-- <li>
    <a href="#" style ="background-color:#28c52f;">
  <i class="fa fa-whatsapp my-float"></i>
  </a>
</li> -->
